h1 {
    color: rgb(255, 0, 0);
}

.nav{
    list-style: none;
}

.nav li{
    display: inline-block;
    margin-right: 10px;
}

.utn{
    padding: 10px;
    border: 1px solid blue;
}

p {
    font-family: cursive;
}